.leaflet-popup{
    display:none;
}

#place-search{
    display:none;
}

#find-me-btn{
        display:none;
}

#burger-btn{
        display:none;
}

#base-layers-btn{
        display:none;
}

#about-btn{
    display:none;
}
